*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  background-color: #FFFFFF;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;;
    
    
}
.logo{
    width:139px;
    height:60px;
    margin-left: 120px;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
}
nav li a{
    text-decoration: none;
}
nav li a:hover{
    color: blue;
    background-color: lightgray;
    border-radius: 5px;
    padding: 5px;
}
.btn{
    display: inline-flex;
    justify-content: center;
    gap: 10px;
    padding: 12px 16px 12px 16px;
    background-color: #30B868;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    align-items: center;
}
.btn:hover{
    background-color: #28a745;
    box-shadow: black 0px 4px 15px;
}
.container{
    background-image: url('../img/hero-bg.png');
    background-attachment: fixed;
    back
    width: 100%;
    height: 600px;
    border-image-repeat: stretch;
    background-size: cover;
    text-align: center;
    margin-top: 0px;
    align-items: center;
    
     
}
.heading{
   width: 770px;
    height: 168px;
    font-style: bold;
    font-size: 32px;
    line-height: 84px;
    text-align: center;
    align-items: center;

}

.play-btn{
  display:inline-flex;
  justify-content: center;
  align-items:center;
  gap:10px;
  padding:12px 16px 12px 16px;
  border:2px solid #ffffff;
  color:#ffffff;
  text-decoration:none;
  border-radius:8px;
  font-size:16px;
  width: 205px;
  height: 52px;
  
}

.play-btn .icon{
  width:26px;
  height:26px;
  border:2px solid #ffffff;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:12px;
}

.play-btn:hover{
  background:#ffffff;
  color:#0f172a;
}

.play-btn:hover .icon{
  border-color:#0f172a;
}
.btnconain{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.earlyaccess {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 6;
    color: #30B868;
    background-color: #FFFFFF;
    border-radius: 1000px;
    width: 229px;
    height: 35px;
}
